$mainColor: #004e96;
$secondaryColor: white;

.pageLogin{
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color:$mainColor;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 20%;
  align-self: center;
  background-color: $secondaryColor;
  border-radius: 1rem;
  padding: 3%;
  *{
    margin-top: 1rem;
  }
  h2{
    height: 1%;
  }

}
.formGroup{
  display: flex;
  flex-direction: column;
  width: 100%;
  input{
    padding: 1rem;
  }

}
.remember{
  width: 100%;
  display: flex;
  gap:5px;
}
.input{
  width: 100%;
  border-radius: 5px;
  height: 2.5rem;
  border: 1px solid grey;
}
.submitButton{
  border-radius: 5px;
  background-color: $mainColor;
  color: white;
  height: 3rem;
  border: none;
}
.loginForm{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.center{
  margin-top: 2rem;
  text-align: center;
}
