
.container{
  height: 100%;
  width: 100%;
  background-color: #edeef0;
}
.header{
  padding-left: 1%;
  height: 5vh;
  display: flex;
  align-items: center;
  font-size: 2.3vh;
  font-weight: bold;
  border-bottom: 2px solid lightgray;
  background-color: white;
}
.messages{
  height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 2% 1%;
  overflow: scroll;
  scrollbar-width: none;
}
.chatbox{
  display: flex;
  justify-content: center;
  height: 5vh;
}
.input{
  height: 3vh;
  width: 90%;
  margin:1vh 5% ;
  padding-left: 2%;
  border-radius: 8px;
  border:2px solid #004e96;
}